@font-face {
    font-family: 'Sharp Slab TRIAL';
    src: url('./fonts/SharpSlabTRIAL-Bold.woff2') format('woff2'),
        url('./fonts/SharpSlabTRIAL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

canvas[resize] {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    margin: 0;
    padding: 0;
    position: absolute;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.title {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40vw;
    font-family: 'Sharp Slab TRIAL';
    margin: 0;
    padding: 0;
}

/* .bg-black {
    background-color: black;
  }
  
  .bg-white {
    background-color: white;
  }
  
  .bg-red {
    background-color: red;
  }
  
  .bg-yellow {
    background-color: yellow;
  }
  
  .bg-green {
    background-color: green;
  }
  
  .bg-blue {
    background-color: blue;
  }
   */
